
.divCart {
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

// Este CSS está creado para un carrito hecho con imágen(creo que lo voy a borrar)
// .carrito {
//     max-width: 100px;
//     border-radius: 100%;
// }

.bi {
    width: 500px;
    color: black;
}