.item {
    width: 500px;
    height: 400px;
    background-color: rgb(220, 210, 210);
    border: black solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    box-shadow: 5px 5px 10px black;

    .imagen {
        margin-top: 0px;
        width: 80%;
        height: 60%;
        border: black solid 0.5px;
        border-radius: 10px;
    }

    .btn-primary {
        width: 90%;
    }
}