header {
    background: rgb(69, 116, 146);

    .divContainer {
        max-width: 90%;
        margin: 0;
        padding: 2%;
        display: flex;
        justify-content:space-between;
        align-items: center;

            .logo {
                max-width: 100px;
                border-radius: 10%;
            }

            .navBar {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;

                .navBar-enlaces {
                    font-size: 20px;
                    text-decoration: none;
                    text-decoration: none;
                    color: aliceblue;
                }
                .navBar-carrito {
                    font-size: 50px;
                    text-decoration: none;
                    text-decoration: none;
                    color: aliceblue;
                }
            }
    }

}