.container {
   width: 20px;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   gap: 10px;

   .numeroContador {
      font-size: 25px;
      width: 100px;
      background-color: azure;
   }
}