.itemDetailContainer {
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 100px;
    width: 500px;
    height: 780px;
    background-color: rgb(220, 210, 210);
    border: black solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .nombreDetail {
        margin-top: 30px;
    }

    .detailImg {
        width: 250px;
        // border-radius: 10%;
        border: solid black 1px;
    }

    .detailText {
        margin-left: 20px;
    }

    .volver {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}