.itemDetailContainer {
    margin-top: 100px;
    margin-left: 400px;
    margin-bottom: 100px;
    width: 500px;
    height: 700px;
    background-color: rgb(220, 210, 210);
    border: black solid 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .nombreDetail {
        margin-top: 30px;
    }

    .detailImg {
        width: 250px;
        border-radius: 10%;
    }
}